$background: url('~@/assets/img/bg.png');

//colors
$blue: #003c8b;
$blue-light: #0e9dec;
$white: #ffffff;
$black: #393737;
$orange: #f47735;
$gray: #E4E4E4;
$gray-very-dark: #444444;
$gray-very-light: lighten($gray, 8%);
$red: #f44336;
$green: #4CAF50;

//test
$text-color: $black;
$font-family: 'Roboto Mono';