$background: url('~@/assets/img/bg.png') no-repeat fixed;

//colors
$very-dark-blue: #465A65;
$gray: #E4E4E4;
$white: #ffffff;
$black: #000000;
$lighter-black: #232323;
$blue: #1976d2;
$yellow: #ffe89e;
$red: #f44336;

$text-color: $very-dark-blue;