$background: url('~@/assets/img/bg.png');

//colors
$blue: #003c8b;
$blue-light: #0e9dec;
$white: #ffffff;
$black: #393737;
$orange: #f47735;
$gray: #E4E4E4;
$red: #f44336;

//test
$text-color: $black;
$font-family: 'Roboto Mono';